<a href="https://colab.research.google.com/github/RemyaRS/Yoshops-Tasks/blob/main/Python_Program_to_Create_an_Excel_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing Required Libraies

In [1]:
!pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.3-py3-none-any.whl (149 kB)
     |████████████████████████████████| 149 kB 7.5 MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.3

In [2]:
# import pandas to read excel sheet
import pandas as pd

# import xlsxwriter module
import xlsxwriter

#Creating Excel Sheet

In [3]:
# which is the filename that we want to create.
workbook = xlsxwriter.Workbook('Class.xlsx')
 
# The workbook object is then used to add new
# worksheet via the add_worksheet() method.
worksheet = workbook.add_worksheet()
 
# Use the worksheet object to write
# data via the write() method.
worksheet.write('A1', 'Name')
worksheet.write('B1', 'Class')
worksheet.write('C1', 'Division')
worksheet.write('D1', 'Marks')

worksheet.write('A2', 'Stephi')
worksheet.write('B2', 'V')
worksheet.write('C2', 'A')
worksheet.write('D2', '78')

worksheet.write('A3', 'Amartya')
worksheet.write('B3', 'V')
worksheet.write('C3', 'B')
worksheet.write('D3', '96')

worksheet.write('A4', 'Saptashri')
worksheet.write('B4', 'V')
worksheet.write('C4', 'A')
worksheet.write('D4', '89')

worksheet.write('A5', 'Ismail')
worksheet.write('B5', 'V')
worksheet.write('C5', 'C')
worksheet.write('D5', '96')
 
# Finally, close the Excel file
# via the close() method.
workbook.close()

# Reading the excel file

In [4]:
file = pd.read_excel('Class.xlsx')

#Excel file

In [5]:
file.head()

        Name Class Division  Marks
0     Stephi     V        A     78
1    Amartya     V        B     96
2  Saptashri     V        A     89
3     Ismail     V        C     96